{% load static %}
{% load analytical %}
<html>
    <head>
        {% analytical_head_top %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Splash - What the papers are saying</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        {% comment %} <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet"> {% endcomment %}
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        {% analytical_head_bottom %}
    </head>
    <body>
        {% analytical_body_top %}
        <div class="container">
            <div class="px-0 py-3 pt-md-5 pb-md-4 mx-auto text-left">
                <div class="nav-wrapper d-block text-right">
                    <a class="py-2" href="{% url 'home' %}">Home</a>
                    <span class="text-muted">|</span>
                    <a class="py-2" href="/">All phrases</a>
                    <span class="text-muted">|</span>
                    <a class="py-2" href="/phrase/the_mail">The Mail</a>
                    <span class="text-muted">|</span>
                    <a class="py-2" href="/phrase/the_guardian">The Guardian</a>
                    <span class="text-muted">|</span>
                    <a class="py-2" href="/phrase/the_express">The Express</a>
                    <span class="text-muted">|</span>
                    <a class="py-2" href="/phrase/the_telegraph">The Telegraph</a>
                </div>
                <a href="{% url 'home' %}"><h1 class="display-4 py-2">Splash</h1></a>
                <h3 class="py-2">What the papers are saying</h3>
                <p class="lead py-2">Which words and phrases are used most frequently in newspaper website headlines?</p>
                <p class="lead py-2">Updated once a day since 24th May 2019</p>
            </div>

            {% block content %}
            {% endblock content %}
        </div>
        {% analytical_body_bottom %}
    </body>
</html>