{% load static %}
<html>
    <head>
        <title>Splash - What the papers are saying</title>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        {% comment %} <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet"> {% endcomment %}
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="container">

            <div class="px-0 py-3 pt-md-5 pb-md-4 mx-auto text-left">
                <a href="{% url 'home' %}"><h1 class="display-3 py-2">Splash</h1></a>
                <h3 class="py-2">What the papers are saying</h3>
                <p class="lead py-2">Which words and phrases are used most frequently in newspaper website headlines?</p>

                <a class="py-2" href="{% url 'phrase' %}">All phrases</a>
            </div>

            {% block content %}
            {% endblock content %}
        </div>
    </body>
</html>