{% load static %}
<html>

<head>
    <title>Django blog</title>
    <link href="{% static 'css/bulma.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>

<body>
    
        <header>
            <section class="hero">
                <div class="hero-body">
                    <div class="container">
                        <h1 class="subtitle is-1"><a href="{% url 'home' %}">Splash</a></h1>
                    <h2 class="subtitle">
                        What the papers are saying
                    </h2>
                    </div>
                </div>
            </section>
        </header>
        {% block content %}
        {% endblock content %}


</body>

</html>