{% extends 'base.html' %}
{% block content %}
<div class="wordlist-entry">
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h2>{{ object.date }}</h2>
                <h2>{{ object.newspaper }}</h2>
                <table class="table is-striped is-fullwidth is-hoverable">
                    <thead>
                    <tr>
                        <th>Word / Phrase</th>
                        <th><abbr title="Played">Times used</abbr></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for wordtotal in wordtotals %}
                            <tr>
                            <td>{{ wordtotal.phrase }}</td>
                            <td>{{ wordtotal.count }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
{% endblock content %}