{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h4 class="pb-3">{{ object.newspaper }} - {{ object.date|date:"dS M Y" }}</h4>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>Word / Phrase</th>
                        <th><abbr title="Played">Times used</abbr></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for wordtotal in wordtotals %}
                            <tr>
                            <td>{{ wordtotal.phrase }}</td>
                            <td>{{ wordtotal.count }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}